.container {
  padding: var(--section-padding);
}

.grid {
  composes: containerWidth from '../../styleguide.module.css';
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-gap: 1rem;
  justify-items: center;
}

.item {
  display: flex;
  max-width: 250px;
  height: 100px;
  padding: 1em;
  background-color: var(--steelblue);
}
