:root {
  /* COLORS */
  --dark: #1c1c20;
  --steelblue: #3591a4;
  --accent: #fddb12;
  --red: #d9242b;

  --text-color: #e9e9ea;

  /* SIZES */
  --section-padding: 80px;

  /* TYPOGRAPHY */
  --font-xxl: 7.594rem;
  --font-xl: 5.063rem;
  --font-l: 3.375rem;
  --font-m: 2.25rem;
  --font-s: 1rem;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  color: var(--text-color);
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* TYPOGRAPHY */
.title-font {
  font-family: 'Rubik', sans-serif;
}


